/* 상단 배너 부분 */
.visual_area {
  display: flex;
  min-height: 220px;
  padding: 10px 0;
  position: relative;
  color: #292929;
  text-align: left;
  box-sizing: border-box;
  background-image: url("../html/new/new_images/newnotice_bgstroy.jpg");
  background-position: center;
  background-size: cover;
}

.visual_area::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.45);
}

.visual_area .inner {
  display: flex;
  width: 1168px;
  height: 200px;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  position: relative;
  color: #fff;
  z-index: 2;
}

.visual_area .inner h1 {
  font-size: 50px;
  line-height: 1;
}

.visual_area .inner .subCopy {
  min-height: 34px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.visual_area .inner .nav_path {
  position: absolute;
  left: 0;
  bottom: 0;
}

.visual_area .inner .nav_path li {
  display: inline-block;
}

.visual_area .inner .nav_path li a {
  color: #fff;
  font-weight: bold;
}

.visual_area .inner .nav_path li+li::before {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 14px 0 10px;
  vertical-align: middle;
  border-radius: 50%;
  background-color: #f5bd43;
}


.pro_content_wrap {
  width: 1168px;
  padding: 30px 0 60px;
  margin: 0 auto;
}

.pro_title_wrap {
  display: flex;
  padding-bottom: 30px;
  border-bottom: 5px solid #292929;
  justify-content: space-between;
}

.pro_title_wrap .pro_title {
  width: 75%;
  font-size: 20px;
  font-weight: bold;
  color: #292929;
}

.pro_title_wrap .pro_date p {
  display: inline-block;
  font-size: 24px;
  line-height: 1;
  color: #808080;
}

.pro_title_wrap .pro_date p:first-child::after {
  display: inline-block;
  content: '';
  width: 1px;
  height: 18px;
  margin: 0 15px;
  background-color: #d1d1d1;
  vertical-align: middle;
}

.pro_img_wrap {
  padding: 50px 0 60px;
}

.pro_img_wrap img {
  display: block;
}

.show_list {
  padding-top: 60px;
  border-top: 1px solid #292929;
}

.show_list a {
  display: inline-block;
  width: 172px;
  height: 70px;
  padding: 0 38px;
  color: #292929;
  font-size: 15px;
  font-weight: bold;
  line-height: 70px;
  text-align: center;
  border-radius: 70px;
  box-sizing: border-box;
  background-color: #ffbc0d;
}